<!DOCTYPE html>
<html>
    <head>
        <title>Grading App</title> 
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">

        <!-- Vue -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->


        <!-- Custom Vue Components -->
        <script src="/components/grades.vue.js"></script>

        <!---------------->
        <!--   Fonts    -->
        <!---------------->

        <!-- Noto Sans -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP" rel="stylesheet">
        
        <!-- Roboto -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

        <!-- Default styles -->
        <link href="/assets/css/styles.css" rel="stylesheet">

        <!-- <script src="https://cdn.jsdelivr.net/npm/vue-js-toggle-button@1.3.3/dist/index.min.js"></script> -->
    </head>
    <body>
        <div id="root">
            <div id="grades">
                <nav>
                    <h1>Vue My Courses</h1>
                </nav>
                <h1 class="title">Grades</h1>
                <div id="container">
                    <div id="toolBar">
                        <div>
                            <transition name="flip" mode="out-in">
                                <input v-if="show" type="search" name="search" placeholder="Search" id="search" />
                            </transition>
                        </div>
                        <button v-on:click="show = !show"><span v-if="show">Create</span><span v-else>Cancel</span></button>
                    </div>
                    <transition name="flip" mode="out-in">
                        <table id="allGrades" v-if="show">
                            <tr id="columnHeadings">
                                <th class="course">
                                    Course
                                    <div class="sort">
                                        <img class="sortImg" src="/assets/img/asc.png" alt="ascending" />
                                        <img class="sortImg" src="/assets/img/desc.png" alt="descending" />
                                    </div>
                                </th>
                                <th class="grade">
                                    Grade
                                    <div class="sort">
                                        <img class="sortImg" src="/assets/img/asc.png" alt="ascending" />
                                        <img class="sortImg" src="/assets/img/desc.png" alt="descending" />
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                            <tr v-for="grade in grades" v-bind:key="grade.course">
                                <td>{{ grade.course }}</td>
                                <td>{{ grade.grade }}</td>
                                <td>
                                    <div class="imgContainer">
                                        <img src="/assets/img/edit.png" alt="edit" />
                                        <img src="/assets/img/delete.png" alt="delete" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="createGrade" v-else>
                            <div>
                                <h2>Create New</h2>
                            </div>    
                            <form>
                                <div class="input">
                                    <input v-model="course" type="text" name="course" id="course" aria-label="course" autocomplete="off" required />
                                    <label for="course">
                                        <span>Course</span>
                                    </label>
                                </div>
                                <div class="input">
                                    <input v-model="grade" type="number" name="grade" id="grade" aria-label="grade" autocomplete="off" required />
                                    <label for="grade">
                                        <span>Grade</span>
                                    </label>
                                </div>
                                <button v-on:click="create">Create</button>
                            </form>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <script>
            let grades = [];
            let grade = "";
            let course = "";

            window.addEventListener("load", () => {
                // Vue.component("Grades", Grades);
                // const root = new Vue({}).$mount("#root");
                new Vue({
                    el: "#root",
                    data: function() {
                        return {
                            show: true,
                            grades,
                            course,
                            grade
                        }
                    },
                    methods: {
                        create: function(event) {
                            event.preventDefault();
                            this.grades.push({course: this.course, grade: this.grade});
                            // console.log(grades, this.course, this.grade);
                            this.show = !this.show;
                            this.course = "";
                            this.grade = "";
                        }
                    }
                })
            });
        </script>
    </body>
</html>
