<!DOCTYPE html>
<html>
    <head>
        <!-- Standard website things -->
        <title>Grading App</title> 
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="/favicon.ico" rel="icon" type="image/x-icon">

        <!-- Vue -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

        <!-- Custom Vue Components -->
        <!-- <script src="/components/grades.vue.js"></script> -->

        <!---------------->
        <!--   Fonts    -->
        <!---------------->

        <!-- Noto Sans -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP" rel="stylesheet">
        
        <!-- Roboto -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

        <!-- Custom styles -->
        <link href="/assets/css/styles.css" rel="stylesheet">

        <!-- Toggle button -->
        <script src="https://cdn.jsdelivr.net/npm/vue-js-toggle-button@1.3.3/dist/index.min.js"></script>
    </head>
    <body>
        <div id="root">
            <div id="grades">
                <nav>
                    <h1>Vue My Courses</h1>
                    <ul>
                        <li>Max: {{ max }}</li>
                        <li>Min: {{ min }}</li>
                        <li>Avg: {{ avg }}</li>
                    </ul>
                </nav>
                <h1 class="title">Grades</h1>
                <div id="container">
                    <div id="toolBar">
                        <div>
                            <transition name="flip" mode="out-in">
                                <div v-if="show">
                                    <input v-model="searchText" type="search" name="search" placeholder="Search" id="search" />
                                    <button :class="[showHonours ? 'active' : '']" v-on:click="setHonours">Honours</button>
                                    <button :class="[showFailed ? 'active' : '']" v-on:click="setFailed">Failed</button>
                                </div>
                            </transition>
                        </div>
                        <button v-on:click="show = !show"><span v-if="show">Create</span><span v-else>Cancel</span></button>
                    </div>
                    <transition name="flip" mode="out-in">
                        <table id="allGrades" v-if="show">
                            <thead id="columnHeadings">
                                <tr>
                                    <th class="course" v-on:click="setCourseOrder">
                                        Course
                                        <div class="sort">
                                            <img v-if="courseOrder > 1" class="sortImg" src="/assets/img/asc.png" alt="ascending" />
                                            <img v-else-if="courseOrder > 0" class="sortImg" src="/assets/img/desc.png" alt="descending" />
                                        </div>
                                    </th>
                                    <th class="grade" v-on:click="setGradeOrder">
                                        Grade
                                        <div class="sort">
                                            <img v-show="gradeOrder === 2" v-on:click="sortGradeAsc" class="sortImg" src="/assets/img/asc.png" alt="ascending" />
                                            <img v-show="gradeOrder === 1" v-on:click="sortGradeDesc" class="sortImg" src="/assets/img/desc.png" alt="descending" />
                                        </div>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <!-- <transition-group name="bounce" tag="tr"> -->
                            <tbody name="bounce" is="transition-group">
                                <tr v-for="grade in grades" v-bind:key="grade.course">
                                    <td>{{ grade.course }}</td>
                                    <td>{{ grade.grade }}</td>
                                    <td>
                                        <div class="imgContainer">
                                            <img v-on:click="edit(grade)" src="/assets/img/edit.png" alt="edit" course="grade.course"/>
                                            <img v-on:click="remove(grade)" src="/assets/img/delete.png" alt="delete" />
                                        </div>
                                    </td>
                                </tr>
                            <!-- </transition-group> -->
                            </tbody>
                        </table>
                        <div id="createGrade" v-else>
                            <div>
                                <h2 v-if="id.toString().length > 0">Update Existing</h2>
                                <h2 v-else>Create New</h2>
                            </div>    
                            <form>
                                <div class="input">
                                    <input v-model="course" type="text" name="course" id="course" autocomplete="off" required />
                                    <label for="course">
                                        <span>Course</span>
                                    </label>
                                </div>
                                <div class="input">
                                    <input v-model="grade" type="number" name="grade" id="grade" aria-label="grade" autocomplete="off" required />
                                    <label for="grade">
                                        <span>Grade</span>
                                    </label>
                                </div>
                                <input v-model="id" type="hidden" name="id" />
                                <span v-if="gradeError" class="error">{{ gradeError }}</span>
                                <span v-if="courseError" class="error">{{ courseError }}</span>
                                <button v-if="id.toString().length > 0" v-on:click="update" :disabled="courseError.length > 0 || gradeError.length > 0">Update</button>
                                <button v-else v-on:click="create" v-on:click="update" :disabled="courseError.length > 0 || gradeError.length > 0">Create</button>
                            </form>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <script>
            let grades = [{ course: "test", grade: 0}];
            let filteredGrades = [];
            // Deep copy of grades so any modifications to filtered 
            // array don't affect the other
            grades.forEach(grade => filteredGrades.push(grade));
            let grade = "";
            let course = "";
            let id = "";
            let searchText = "";
            let courseOrder = 0;
            let gradeOrder = 0;
            let courseError = "";
            let gradeError = "";

            // if no entries prevents ugly values
            let min = "";
            let max = "";
            let avg = "";

            if ( grades.length > 0 ) {
                max = 0;
                min = Infinity;
                avg = 0;

                let sum = 0;
                grades.forEach((grade) => {
                    if ( grade.grade < min ) {
                        min = grade.grade;
                    }

                    if ( grade.grade > max ) {
                        max = grade.grade;
                    }

                    sum += grade.grade;
                });
                avg = sum / grades.length;
            }

            window.addEventListener("load", () => {
                // Vue.component("Grades", Grades);
                // const root = new Vue({}).$mount("#root");
                new Vue({
                    el: "#root",
                    data: function() {
                        return {
                            courseOrder,
                            gradeOrder,
                            show: true,
                            grades: filteredGrades,
                            course,
                            grade,
                            id,
                            max,
                            min,
                            avg,
                            courseError,
                            gradeError,
                            searchText,
                            showHonours: false,
                            showFailed: false 
                        }
                    },
                    watch: {
                        course: function(newValue, oldValue) {
                            courseError = "";

                            // checking if id is set checks whether the value is NOT being updated

                            // if course entry exists and value is being create
                            if ( grades.find(grade => grade.course === newValue) !== undefined && typeof this.id !== "number" ) {
                                courseError = "An entry for this course already exists, please go and edit instead";
                            }     
                            // if the value is being updated 
                            // the value exists
                            // but at a different index than the what this.id is set to
                            else if ( typeof this.id === "number" ) {
                                let taken = false;
                                for ( let i = 0; i < grades.length; i++ ) {
                                    if ( grades[i].course === newValue && i !== this.id ) {
                                        taken = true;
                                        break;
                                    } 
                                }
                                if ( taken ) {
                                    courseError = "An entry for this course already exists, please go and edit instead";
                                }
                            }
                                
                            this.courseError = courseError;
                        },
                        grade: function(newValue, oldValue) {
                            gradeError = "";

                            if ( newValue > 100 || newValue < 0 ) {
                                gradeError = "Grade must be between 0 and 100";
                            }

                            this.gradeError = gradeError;
                        },
                        searchText: function(newValue, oldValue) {
                            let _searchText = newValue;
                            if ( _searchText !== "" ) {
                                this.grades = grades.filter((grade) => {
                                    if ( grade.course.includes(_searchText) ) {
                                        return true;
                                    }
                                    else if ( grade.grade.toString().includes(_searchText) ) {
                                        return true;
                                    }

                                    return false;
                                })
                            }
                            else {
                                this.grades = grades;
                            }
                        },
                        show: function(newValue, oldValue) {
                            if ( oldValue === false ) {
                                this.id = "";
                                this.grade = "";
                                this.course = "";
                            }
                        },
                        grades: function(newValue, oldValue) {
                            min = Infinity;
                            max = 0;
                            avg = 0;
                            let sum = 0;
                            newValue.forEach((grade) => {
                                if ( grade.grade < min ) {
                                    min = grade.grade;
                                }

                                if ( grade.grade > max ) {
                                    max = grade.grade;
                                }

                                sum += grade.grade;
                            });
                            avg = sum / newValue.length;
                            this.min = min < Infinity ? min : "";
                            this.max = newValue.length > 0 ? max : "";
                            this.avg = isNaN(avg) ? "" : avg;
                        }
                    },
                    methods: {
                        create: function(event) {
                            event.preventDefault();
                            // check if the course is added already
                            // or grade < 0 or > 100
                            // send back an error
                            grades.push({course: this.course, grade: this.grade});
                            this.grades = grades;
                            this.show = !this.show;
                            this.course = "";
                            this.grade = "";
                            this.id = "";
                        },
                        edit: function(courseGrade) {
                            this.show = !this.show;
                            this.course = courseGrade.course;
                            this.grade = courseGrade.grade;
                            this.id = grades.indexOf(courseGrade);
                            // this.show = !this.show;
                            // need to make a way that saving updates this
                        },
                        update: function(event) {
                            event.preventDefault();
                            grades[this.id] = { course: this.course, grade: this.grade };
                            this.grades = grades;
                            this.course = "";
                            this.grade = "";
                            this.id = "";
                            this.show = !this.show;
                        },
                        remove: function(courseGrade) {
                            const index = this.grades.indexOf(courseGrade);
                            this.grades.splice(index, 1);
                        },
                        setCourseOrder: function() {
                            // prevents the numer from going over 2
                            // gives us three settings
                            // none, asc, desc
                            this.courseOrder = (this.courseOrder + 1) % 3;
                        },
                        setGradeOrder: function() {
                            // prevents the numer from going over 2
                            // gives us three settings
                            // none, asc, desc
                            this.gradeOrder = (this.gradeOrder + 1) % 3;
                        },
                        sortCourseAsc: function(event) {

                        },
                        sortCourseDesc: function(event) {

                        },
                        sortGradeAsc: function(event) {

                        },
                        sortGradeDesc: function(event) {

                        },
                        setHonours: function() {
                            this.showHonours = !this.showHonours;

                            if ( ! this.showHonours ) {
                                // show everything below 80
                                this.grades = grades
                            } else {
                                this.grades = grades.filter((grade) => grade.grade > 79);
                            }
                        },
                        setFailed: function() {
                            this.showFailed = !this.showFailed;
                            if ( ! this.showFailed ) {
                                this.grades = grades;
                            } else {
                                this.grades = grades.filter((grade) =>  grade.grade < 50);
                            }
                        },
                        
                    }
                })
            });
        </script>
    </body>
</html>
