@use "colors";

body, html, #root {
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Roboto';
}

#root {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, button { 
    font-family: 'Noto Sans JP';
    font-weight: bold;
}

a, a:-webkit-any-link {
    color: #64FFDA;
    text-decoration: none;
    font-size: 1.2rem;

    &:visited {
        color: #64FFDA;
    }

    &:hover {
        color: #26A69A;

    }
}

@import "./nav.scss";
@import "./form.scss";
@import "./table.scss";
@import "./grades.scss";

