@use "colors";

#createGrade {
    width: 60%;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    & > div {
        width: 100%;
        & > h2 {
            width: 20rem;
            padding: 0.5rem;
            margin: 1rem;
            border-bottom: 2px solid #f1f1f1;
        }
    }

    & > form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
        align-items: flex-start;
        margin-left: 1rem;
        width: 100%;

        & > * {
            margin: 1rem 0;
            display: block;
        }

        & > input {
            width: 75%;
        }
    }
}

table {
    position: relative;
    // width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    // box-shadow: 0 5px 8px  0 rgba(0,0,0,0.4);
    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    thead {
        border-bottom: 3px solid #f1f1f1;
    }

    tr {
        th {
            border-collapse: collapse;
            padding: 1rem;

            & > div.sort {
                display: inline-flex;
                flex-direction: column;
                position: relative;

                img.sortImg {
                    position: absolute;
                    bottom: -2px;
                    left: 5px;
                    min-width: 10px;
                    width:  1rem;
                }
            }
        }

        th.course {
            width: 25rem;
        }

        th.grade {
            width: 125px;
        }

        td {
            border-collapse: collapse;
            padding: 1rem;
            text-align: center;
            max-width: 75%;
            width: 155px;

            & > div.imgContainer {
                display: none;
                flex-direction: row;

                img {
                    width: 30px;
                    margin: 0 1rem 0 1rem;
                }
            }
        }

        &:hover > td > div.imgContainer {
            display: flex;
        }
    }    
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.flip-enter-active {
  transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53); //ease-in-quad
}

.flip-leave-active {
  transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
}

.flip-enter, .flip-leave-to {
  transform: scaleY(0) translateZ(0);
  opacity: 0;
}
